<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}">

<head>
    <meta charset="UTF-8">

    <title>
        {{ .Title }} | {{ site.Title }}
    </title>

    {{ with resources.Get "css/main.css" }}
    <link rel="stylesheet" href="{{ .RelPermalink }}">
    {{ end }}
    {{ with resources.Get "js/admin.js" }}
    <script src="{{ .RelPermalink }}"></script>
    {{ end }}
</head>

<body
        {{ if .IsHome }}
            data-collection="articles"
            data-entry="homepage"
        {{ else }}
            data-collection="{{ .Section }}"
            data-entry="{{ with .File }}{{ .ContentBaseName }}{{ end }}"
        {{ end }}
        data-base="{{ site.BaseURL | relURL }}"
>

<header class="site-header">

    <h1 class="site-title">
        <a href="{{ site.Home.RelPermalink }}">
            {{ site.Title }}
        </a>
    </h1>

</header>

<main class="content">

    {{ block "main" . }}
    {{ end }}

</main>

</body>

</html>