{{ $suborder := .Get 0 }}
<ul class="genus-list">

    {{ range sort (where (where site.RegularPages "Section" "families") ".Params.suborder" $suborder) ".Params.title" }}

    {{ $family := .Params.title }}
    {{ $familyName := .Params.common_name }}

    <li>
        <a href="{{ .RelPermalink }}">
            <em>{{ $family }} ({{ $familyName }})</em>
        </a>

        <ul class="species-list">
            {{ $genera := where site.RegularPages "Section" "genera" }}
            {{ $genera = where $genera ".Params.family" $family }}

            {{ $genusNames := slice }}
            {{ range $genera }}
            {{ $genusNames = $genusNames | append .Title }}
            {{ end }}

            {{ $species := where site.RegularPages "Section" "species" }}
            {{ $species = where $species ".Params.genus" "in" $genusNames }}

            {{ range sort (sort $species ".Params.species") ".Params.genus" }}
            <li>
                <a href="{{ .RelPermalink }}">
                    <em>{{ .Params.genus }} {{ .Params.species }}</em>
                    ({{ .Params.common_name }})
                </a>
            </li>
            {{ end }}
        </ul>
    </li>

    {{ end }}

</ul>